#formCulculator{
	border: 1px solid red; 
	border-radius: 15px;
	padding: 50px;
    background: #ccc;
    position: fixed; top: 32%; left: 40%;	
}
.culcClass{
	 clear: left;
     float: left;
	 margin:2px;
	 width:150px;
	 height:30px;
	 border: 1px solid green; 
	 border-radius: 8px;
	 font-size:13px;
	 font-family:Verdana,Arial,Helvetica;
}
head{
	font-size:40pt;
	color:bolder;
	background-color:yellow;
	font-family:Verdana,Arial,Helvetica;
}