* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    background: #F5DEB3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container{
    display: flex;
    height: 60%;
    width: 50%;
    background: #ffffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.header{
    display: flex;
    flex-grow: 0.1;
    align-content: center;
    justify-content: center;
}
#label{
    display: flex;
    align-content: center;
    justify-content: center
}
.container__context{
    display: flex;
    flex-grow: 4;
}
.context_leftBar, .context_rightBar{
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    background: #00ff00;
}
.context_center{
    display: flex;
    flex-grow: 3;
    background: #ffff00;
}
#canvas{
    display: flex;
    flex-grow: 1;
    resize: none;
    background: #ffffff;
    border: 3px solid black;
}
.container__message{
    display: flex;
    flex-grow: 0.1;
}
.message{
    display: flex;
    flex-grow: 3;
}
.button{
    display: flex;
    flex-grow:1;
    align-content: center;
    justify-content: center;
}
button_leftBar{
    height: 10%;
}